/* plus-jakarta-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fontFamly/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    src:    url('../fontFamly/plus-jakarta-sans-v7-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 500;
    src:   url('../fontFamly/plus-jakarta-sans-v7-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    src:   url('../fontFamly/plus-jakarta-sans-v7-latin-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
 src:  url('../fontFamly/plus-jakarta-sans-v7-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 src:      url('../fontFamly/plus-jakarta-sans-v7-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      }
 
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src:  url('../fontFamly/plus-jakarta-sans-v7-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      src:   url('../fontFamly/plus-jakarta-sans-v7-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */

  }





* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  .container {
    width: 1260px;
    margin: 0px auto;
  padding: 0 20px;
  }
.navbar-box{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.navvar-right{
    display: flex;
    justify-content: center;
    margin: 0;
}
 .navvar-helper{
    display: flex;
    margin: 0;
 }
.navbar-menu{
    margin-right: 30px;
}
.navbar-enker{
    margin: auto right;
}

