/* plus-jakarta-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/plus-jakarta-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/plus-jakarta-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/plus-jakarta-sans-v7-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/plus-jakarta-sans-v7-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/plus-jakarta-sans-v7-latin-regular.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
  }
  /* plus-jakarta-sans-500italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/plus-jakarta-sans-v7-latin-500italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/plus-jakarta-sans-v7-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/plus-jakarta-sans-v7-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/plus-jakarta-sans-v7-latin-500italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/plus-jakarta-sans-v7-latin-500italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/plus-jakarta-sans-v7-latin-500italic.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
  }
  /* plus-jakarta-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/plus-jakarta-sans-v7-latin-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/plus-jakarta-sans-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/plus-jakarta-sans-v7-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/plus-jakarta-sans-v7-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/plus-jakarta-sans-v7-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/plus-jakarta-sans-v7-latin-600.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
  }
  /* plus-jakarta-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/plus-jakarta-sans-v7-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/plus-jakarta-sans-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/plus-jakarta-sans-v7-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/plus-jakarta-sans-v7-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/plus-jakarta-sans-v7-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/plus-jakarta-sans-v7-latin-700.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
  }





* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  .container {
    width: 1260px;
    margin: 0px auto;
  padding: 0 20px;
  }