* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  .container {
    width: 1240px;
    margin: 0px auto;
    padding-right: 20px;
    padding-left: 20px;
  }